/* Color Palette
#1B2021 - dark jungle green
#51513D - rifle green
#A6A867 - middle green yellow
#E3DC95 - flax
#E3DCC2 - bone
*/

/* Global styles */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background: beige;
    font-family: 'Fenix', serif;
    font-size: 20px;
}
h1, h2 {
    font-family: 'Diplomata', cursive;
    font-weight: 400;
}
h1{
    font-size: 50px;
}
h2 {
    margin-top: 0;
    font-size: 30px;
}
a {
    color: #1b2021;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-narrow {
    width: 30%;
    float: left;
}
.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
}
/* Header and Footer */
header, footer {
    background: #51513d;
    color: #A6a867;
}
/* header */
header h1, header h2 {
    color: #e3dcc2;
    margin: 0;
}
/* header {
    text-align: center;
} */
/* footer */
footer {
    text-align: center;
}
.contact-info a {
    background: white;
    padding: 10px;
    display: inline-block;
}

/* Work Experience */
.work {
    background: #E3DCC2;
}

/* Education */
.education {
    background: #E3DC95;
}

.profile-img {
  /* width: 190px; */
  border-radius: 50%;
  /* float: left; */
  /* margin-right: 30px; */
}
